h1{
	text-align: center;
	color: #AD2A1A;
	
}
body{
	background-color: #7BC6CC;
}
.content{
	
	padding-top: 30px;
	border:1px solid black; 
	margin: 40px;
	height: 100px;
	float: left;
	overflow: auto;
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #004e92;
	color: white;
}

*{
	box-sizing: border-box;
	margin-left: 13px;
}
.he1{
	position: absolute;
	top:0;
	right: 0;
	width: 100px;
	text-align: center;
	border: 1px solid black;
	border-top: 0px;
	font-weight: bold;

}
#d11{
	background-color: #AD2A1A;
	color:black;
}
#d22{
	background-color: #25e9a7;
	color:black;
}
#d33{
	background-color: #c7c731;
	color:black;
}
@media(min-width: 992px){
	#d1,#d2,#d3{
		width: 33%;
		
	}
@media((min-width: 768px) and (max-width:991px))  {
	#d1,#d2
	{
		width: 50%;
		
	}
	#d3{
		width: 100%;
		
	}
@media(max-width: 767px){
	#d1,#d2,#d3{
		width: 100%;
		
	}
}
